## Credit :
- http://www.cyclismo.org/tutorial/R/types.html

## Run R in jupyter :

- https://www.datacamp.com/community/blog/jupyter-notebook-r#gs.LySZooc
- ```# install R in ur new dev environment```
- ```$conda create -n my-r-env -c r r-essentials```

### Contents 

- 0) Data IO
- 1) Variables Types
- 2) Basic Data Types

## 0) Data IO

### 0-1) Read csv

In [1]:
# show all file list in the working directory
#dir()

#get route of current directory
#getwd()

In [2]:
df_test <- read.csv(file="/Users/yennanliu/Desktop/dev_/df_test.csv",head=TRUE,sep=",")

In [3]:
typeof(df_test)

[1] "list"

In [4]:
df_test

  X          A          B          C          D
1 2013-01-01  1.7428451  0.8276120 -0.8066323  0.306776369
2 2013-01-02  1.3392247 -0.7951656 -1.7747302  0.437705419
3 2013-01-03  0.6528488 -1.5407709 -1.4102171  1.700354566
4 2013-01-04  0.2473966 -1.3023405 -0.8460928  0.699764788
5 2013-01-05 -0.7405302  0.7131242 -1.1632046 -0.002844136
6 2013-01-06 -1.1717375  0.5603410  0.9465587 -0.615189048

In [5]:
summary(df_test)

          X           A                 B                 C
 2013-01-01:1   Min.   :-1.1717   Min.   :-1.5408   Min.   :-1.7747
 2013-01-02:1   1st Qu.:-0.4935   1st Qu.:-1.1755   1st Qu.:-1.3485
 2013-01-03:1   Median : 0.4501   Median :-0.1174   Median :-1.0046
 2013-01-04:1   Mean   : 0.3450   Mean   :-0.2562   Mean   :-0.8424
 2013-01-05:1   3rd Qu.: 1.1676   3rd Qu.: 0.6749   3rd Qu.:-0.8165
 2013-01-06:1   Max.   : 1.7428   Max.   : 0.8276   Max.   : 0.9466
       D
 Min.   :-0.61519
 1st Qu.: 0.07456
 Median : 0.37224
 Mean   : 0.42109
 3rd Qu.: 0.63425
 Max.   : 1.70035

In [6]:
df_test$B

[1]  0.8276120 -0.7951656 -1.5407709 -1.3023405  0.7131242  0.5603410

In [7]:
df_test$X

[1] 2013-01-01 2013-01-02 2013-01-03 2013-01-04 2013-01-05 2013-01-06
6 Levels: 2013-01-01 2013-01-02 2013-01-03 2013-01-04 ... 2013-01-06

In [8]:
names(df_test)

[1] "X" "A" "B" "C" "D"

In [9]:
attributes(df_test)

$names
[1] "X" "A" "B" "C" "D"

$class
[1] "data.frame"

$row.names
[1] 1 2 3 4 5 6

In [10]:
names(df_test)

[1] "X" "A" "B" "C" "D"

## 1) Variables Types

### 1-1)  Numbers

In [11]:
a <- 3

In [12]:
a

[1] 3

In [13]:
typeof(a)

[1] "double"

In [14]:
b <- sqrt(a*a+3)

In [15]:
b

[1] 3.464102

In [16]:
ls()

[1] "a"       "b"       "df_test"

In [17]:
a <- c(1,2,3,4,5)

In [18]:
a

[1] 1 2 3 4 5

In [19]:
a+1

[1] 2 3 4 5 6

In [20]:
mean(a)
var(a)

[1] 3

[1] 2.5

In [21]:
a[1]
a[2]

[1] 1

[1] 2

In [22]:
a <- numeric(10)

In [23]:
a

 [1] 0 0 0 0 0 0 0 0 0 0

### 1-2) Strings

In [24]:
a <- "hello"

In [25]:
typeof(a)

[1] "character"

In [26]:
a

[1] "hello"

In [27]:
b <- c("hello","there")

In [28]:
b
b[0]
b[1]
b[2]

[1] "hello" "there"

character(0)

[1] "hello"

[1] "there"

#### Counter in R start from 1 (1,2,3...) ; while python and others scripts start from 0 (0,1,2,...)

In [29]:
typeof(b)

[1] "character"

In [30]:
a = character(20)

In [31]:
a

 [1] "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" ""

###  1-3) Factors

In [32]:
summary(df_test$X)

2013-01-01 2013-01-02 2013-01-03 2013-01-04 2013-01-05 2013-01-06
         1          1          1          1          1          1

In [33]:
df_test$y = factor(df_test$X)

In [34]:
df_test

  X          A          B          C          D            y
1 2013-01-01  1.7428451  0.8276120 -0.8066323  0.306776369 2013-01-01
2 2013-01-02  1.3392247 -0.7951656 -1.7747302  0.437705419 2013-01-02
3 2013-01-03  0.6528488 -1.5407709 -1.4102171  1.700354566 2013-01-03
4 2013-01-04  0.2473966 -1.3023405 -0.8460928  0.699764788 2013-01-04
5 2013-01-05 -0.7405302  0.7131242 -1.1632046 -0.002844136 2013-01-05
6 2013-01-06 -1.1717375  0.5603410  0.9465587 -0.615189048 2013-01-06

In [35]:
levels(df_test$C)

NULL

## 2) Basic Data Types

### 2-1)  Data Frames

In [36]:
a <- c(1,2,3,4)
b <- c(2,4,6,8)
levels <- factor(c("A","B","A","B"))
bubba <- data.frame(first=a,
                    second=b,
                    f=levels)

In [37]:
typeof(levels)

[1] "integer"

In [38]:
typeof(bubba)

[1] "list"

In [39]:
bubba

  first second f
1 1     2      A
2 2     4      B
3 3     6      A
4 4     8      B

In [40]:
summary(bubba)

     first          second    f
 Min.   :1.00   Min.   :2.0   A:2
 1st Qu.:1.75   1st Qu.:3.5   B:2
 Median :2.50   Median :5.0
 Mean   :2.50   Mean   :5.0
 3rd Qu.:3.25   3rd Qu.:6.5
 Max.   :4.00   Max.   :8.0

### 2-1) Logical

In [48]:
a = TRUE
b = FALSE

In [49]:
b

[1] FALSE

In [47]:
typeof(a)

[1] "logical"

In [50]:
a = c(TRUE,FALSE)
a

[1]  TRUE FALSE

In [51]:
b = c(FALSE,FALSE)

In [53]:
# entry wise or
a|b

[1]  TRUE FALSE

In [54]:
# or 
a||b

[1] TRUE

In [55]:
a && b

[1] FALSE

In [56]:
a = c(1,2,3)

In [58]:
typeof(a)

[1] "double"

In [59]:
is.numeric(a)

[1] TRUE

In [60]:
is.factor(a)

[1] FALSE

### 2-2) table

In [61]:
a <- factor(c("A","A","B","A","B","B","C","A","C"))

In [62]:
a

[1] A A B A B B C A C
Levels: A B C

In [63]:
typeof(a)

[1] "integer"

In [64]:
results <- table(a)

In [74]:
results

a
A B C
4 3 2

In [66]:
typeof(results)

[1] "integer"

In [67]:
attributes(results)

$dim
[1] 3

$dimnames
$dimnames$a
[1] "A" "B" "C"


$class
[1] "table"

In [73]:
summary(results)

Number of cases in table: 9
Number of factors: 1

In [75]:
occur <- matrix(c(4,3,2),ncol=3,byrow=TRUE)

In [76]:
occur

     [,1] [,2] [,3]
[1,] 4    3    2

In [78]:
typeof(occur)

[1] "double"

In [79]:
colnames(occur) <- c("A","B","C")

In [80]:
occur

     A B C
[1,] 4 3 2

In [81]:
occur <- as.table(occur)

In [82]:
occur

  A B C
A 4 3 2

In [83]:
attributes(occur)

$dim
[1] 1 3

$dimnames
$dimnames[[1]]
[1] "A"

$dimnames[[2]]
[1] "A" "B" "C"


$class
[1] "table"

### 2-3) Two Way Tables

In [84]:
# 1st way 
a <- c("Sometimes","Sometimes","Never","Always","Always","Sometimes","Sometimes","Never")
b <- c("Maybe","Maybe","Yes","Maybe","Maybe","No","Yes","No")
results <- table(a,b)

In [85]:
a

[1] "Sometimes" "Sometimes" "Never"     "Always"    "Always"    "Sometimes"
[7] "Sometimes" "Never"

In [88]:
b

[1] "Maybe" "Maybe" "Yes"   "Maybe" "Maybe" "No"    "Yes"   "No"

In [86]:
typeof(a)

[1] "character"

In [87]:
results

           b
a           Maybe No Yes
  Always        2  0   0
  Never         0  1   1
  Sometimes     2  1   1

In [91]:
# 2nd way 
sexsmoke<-matrix(c(70,120,65,140),ncol=2,byrow=TRUE)
rownames(sexsmoke)<-c("male","female")
colnames(sexsmoke)<-c("smoke","nosmoke")
sexsmoke <- as.table(sexsmoke)

In [92]:
sexsmoke

       smoke nosmoke
male      70     120
female    65     140

In [93]:
typeof(sexsmoke)

[1] "double"