In [10]:
# load basics library 

import pandas as pd, numpy as np

from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

### 1)  unique buy user

In [3]:
sql_1 ="""

select count(distinct transaction.user_id)
from transaction
left join location
on transaction.user_id = location.user_id
where transaction.deal_id = '12345'
and location.city = 'London'

"""

### 2) more profitable deal

In [6]:
print ('avg deal a : ', 12*1000/(30*80*1000))
print ('avg deal b :', 20*1000/(180*120*1000))

avg deal a :  0.005
avg deal b : 0.000925925925925926

In [8]:
print ('b is more profitable')

b is more profitable

### 3)  which employees are supervised by whom

In [11]:
df_employee = pd.DataFrame({'employee_id':[301,208,134],
                            'employee_name': ['Oliver','Dianne','Paul'],
                           'supervisor_employee_id':[134,101,884]})

In [42]:
#df_employee

In [40]:
sql_4 ="""

SELECT
    a.employee_name as employee,
    b.employee_name as supervisor_employee
FROM
    df_employee AS a,
    df_employee AS b
WHERE
    a.employee_id = b.supervisor_employee_id
       

"""

In [41]:
pysqldf(sql_4)

  employee supervisor_employee
0     Paul              Oliver

### 4) difference in FULL OUTER JOIN and RIGHT JOIN

In [44]:
full_outer_join = """

SELECT <select_list>
FROM Table_A A
FULL OUTER JOIN Table_B B
ON A.Key = B.Key

"""

right_join = """

SELECT <select_list>
FROM Table_A A
RIGHT JOIN Table_B B
ON A.Key = B.Key


"""

- Full outer join :  

    - Return all of the records from both tables (A,B)
- Right join :

    - Return return all of the records in the left table (table A) that have a matching record in the right table (table B)

### 5) create table

- INDEX1 : 101 - INTEGER
- Since 
    -  Much effiencit 
    -  cost less memory 
    -  can change to bigint is large row counts

### 6)

The dashboard is an overview of operation numbers with sales metrics 
for monitor business and have a high-level sense of current status

There are 2 main part of this dashboard:

    - Filter : Left part of the view, can limit data with specific   
               country, category... Can be single or multiple choises 
    - Metrics : 
        - Scatter plot : Unit sales amount VS unit price 
        - Time serices plot :  metrices amount in time serices form
        - Demand Curve : Can know the tendency of general demands 
        -

### 7)

### 8)

- Using 2 metrics :  
    - buying amount (counts) 
    - buying types 
- Sample merchants maybe can be segemented as  : 
    1. Big firms 
    2. SMBs (small and medium business)
    3. Individual
    4. Government
    5. Others